body {
    font-family: Arial, sans-serif;
    background-color: #fef1dc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cadastro-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}
.cadastro-container h1 {
    margin-bottom: 20px;
}
.cadastro-container input, .cadastro-container select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
.cadastro-container button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
